{% extends 'base.html' %}

{% block content %}

  <h2>Recently Updated Pages</h2>

  <ul>
    {% for document in recent_documents %}
      <li>
          <a href="{% url 'detail' document.slug %}">  {{ document.title }}</a><br>
          {% if document.category %} Category:
            <a href="{% url 'category' document.category.slug %}">{{ document.category.name }}</a><br>
          {% endif %}
          updated at {{ document.update_date | date:'Y-m-d' }}
        </p>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
